{
    "root": true,
    "extends": [
        "@nuxt/eslint-config",
        "@nuxtjs/eslint-config-typescript",
        "@coldhands/eslint-config"
    ],
    "rules": {
        "vue/html-self-closing": "off"
    }
}